<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FORMULARIO WEB</title>
</head>

<body>
  <div class="container my-4 border">
    <h1 class="text-center">FORMULARIO WEB</h1>
    <div class="col-sm-12">
      <form action="/send-email" method="POST" #f="ngForm" (ngSubmit)="onSubmit(f)" ng-submit="Display()" novalidate>
        <div class="col-sm-12">
          <app-registro></app-registro>
        </div>
        <div class="col-sm-12">
          <app-cedula></app-cedula>
        </div>
        <div class="col-sm-12">
          <app-correo></app-correo>
        </div>
        <div class="col-sm-12">
          <app-tipo-persona></app-tipo-persona>
        </div>
        <div class="col-sm-12">
          <app-curso></app-curso>
        </div>
        <div class="col-sm-12">
          <re-captcha (resolved)="resolved($event)" siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU" required>
          </re-captcha>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          <div class="col-sm-6">
            <button type="reset" class="btn btn-secondary">Cancelar</button>
          </div>

        </div>
        <!--<button type="submit" onclick="alert('FORMULARIO ENVIADO');">Enviar</button>-->
      </form>
    </div>
  </div>
</body>

</html>