<div>
    <label for="cedula">Cedula</label>
    <br>
    <input id="cedula"
    [(ngModel)]="curso.cedula"
        type="text"
        name="cedulaCampo"
        pattern="[0-9]{10}"
        maxlength="10"
        minlength="10"
        ngModel
        required
        #cedulaCampo="ngModel"
   
        >
        <div *ngIf="cedulaCampo.touched && cedulaCampo.errors">
            <p *ngIf="cedulaCampo.errors.required">
              Error: Campo requerido
            </p>
            <p *ngIf="cedulaCampo.errors.minlength">
              Error: Longitud de 10
            </p>
            <p *ngIf="cedulaCampo.errors.pattern">
                Error: Solamente puede ingresar números
              </p>
        
          </div>
    
</div>